<a href="https://github.com/mesquini/aircnc" class="title" rel="tooltip" title="Acessar o repositorio" target="_blank">
  <h2 class="title"> AirCnC - Code and Coffee</h2>
  <br />
</a>

<hr>

<p align="center">
  <a href="#rocket-tecnologias">Tecnologias</a> |
  <a href="#pr-requisitos">Pré-requisitos</a> |
  <a href="#information">Instalação e execução</a>
</p>

<p>
  Projeto realizado na Semana Omnistack 9, com o objetivo de oferecer/alugar Spots (espaços aonde a pessoa irá ficar)
  para programadores. Aonde ele pode procurar um Spot em alguma empresa do seu interessa, para realizar
  networks.
</p>

<img class="center" src="https://res.cloudinary.com/mesquini/image/upload/v1579699180/AirCnC/Screenshot_51_bnkd0u.png" alt="App Screenshot">
<img class="center" src="https://res.cloudinary.com/mesquini/image/upload/v1579699182/AirCnC/Screenshot_53_alymcd.png" alt="App Screenshot">
<img class="center" src="https://res.cloudinary.com/mesquini/image/upload/v1579699171/AirCnC/Screenshot_54_uu1zzs.png" alt="App Screenshot">

<h2 id="rocket-tecnologias" class="title">🚀 Tecnologias</h2>
<ul style="list-style: none;">
  <li>⚡ Express</li>
  <li>💾 Mongoose</li>
  <li>⌚️ Socket.io</li>
  <li>💻 Axios</li>
</ul>
<h2 id="pr-requisitos" class="title">✋🏻 Pré-requisitos</h2>
<ul>
  <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
  <li><a href="https://yarnpkg.com/pt-BR/docs/install" target="_blank">Yarn</a></li>
  <li><a href="https://code.visualstudio.com/" target="_blank">VS Code</a></li>
</ul>
<h2 id="information" class="title">
  <img src="https://github.githubassets.com/images/icons/emoji/unicode/2139.png" style="width: 5%;" /> Instalação e execução
</h2>
<p>
  Para clonar o repositorio, você precisará do
  <a href="https://git-scm.com" target="_blank">Git</a>,
  <a href="https://nodejs.org/" target="_blank">Node.js v10.16</a> +
  <a href="https://yarnpkg.com/" target="_blank">Yarn v1.13</a>
</p>
<pre>
  <code class="lang-bash"> <span class="hljs-comment"># Clone esse repositorio</span>
    &gt; git clone https://github.com/mesquini/aircnc
    &gt; cd backend
    &gt; yarn
    &gt; yarn <span class="hljs-literal">dev</span> 

    <span class="hljs-comment">## Antes abre outro terminal:</span>

    &gt; cd frontend
    &gt; yarn
    &gt; yarn <span class="hljs-literal">start</span>
</code>
</pre>
<hr>
<p>Feito por Victor Mesquini
  <a href="https://www.linkedin.com/in/mesquini/" target="_blank">
    👋 Toque aqui!</a>
</p>
