<a href="https://github.com/mesquini/semanaomnistack10" class="title" rel="tooltip" title="Acessar o repositorio" target="_blank">
  <h1 class="title">DevRadar</h1>
</a>

<hr>

<p align="center">
  <a href="#rocket-technologies">Tecnologias</a> |
  <a href="#pr-requisitos">Pré-requisitos</a> |
  <a href="#information">Como usar</a>
</p>

<p>
  Projeto com o objetivo de fazer cadastro de programadores com seu username do GitHub na versão WEB
  E para utilizar o Radar, existe o APP aonde você filtra por tecnologia para entrar um Dev
  que programa naquela linguagem.
</p>

<img src="https://shorturl.at/ciFQ1" class="center" alt="App Screenshot">

<h2 id="rocket-technologies" class="title">🚀 Tecnologias</h2>
<p>Esse projeto foi desenvolvido na Semana Omnistask 10, utilizamos as seguintes tecnologias:</p>
<ul>
  <li><a href="https://reactjs.org/" target="_blank">ReactJS</a></li>
  <li><a href="https://github.com/axios/axios" target="_blank">Axios</a></li>
  <li><a href="https://github.com/expressjs/cors" target="_blank">Cors</a></li>
  <li><a href="https://github.com/socketio/socket.io" target="_blank">Socket.io</a></li>
  <li><a href="https://github.com/logtrace/material-icons-react" target="_blank">Material Icons</a></li>
  <li><a href="https://github.com/Automattic/mongoose" target="_blank">Mongoose</a></li>
  <li><a href="https://github.com/expressjs/express" target="_blank">Express</a></li>
  <li><a href="https://code.visualstudio.com/" target="_blank">VS Code</a></li>
</ul>
<h2 id="pr-requisitos" class="title">✋🏻 Pré-requisitos</h2>
<ul>
  <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
  <li><a href="https://yarnpkg.com/pt-BR/docs/install" target="_blank">Yarn</a></li>
  <li><a href="https://code.visualstudio.com/" target="_blank">VS Code</a></li>
</ul>
<h2 id="information" class="title">
  <img src="http://shorturl.at/flCIN" style="width: 5%;" />Como usar:
</h2>
<pre>
  <code class="lang-bash">
    &gt; git clone https://github.com/mesquini/semanaomnistack10
    &gt; cd backend
    &gt; yarn
    &gt; yarn dev

    &gt; cd frontend
    &gt; yarn
    &gt; yarn <span class="hljs-literal">start</span>
  </code>
</pre>

<hr>

<p>Feito por Victor Mesquini
  <a href="https://www.linkedin.com/in/mesquini/" target="_blank">
    👋 Toque aqui!</a>
</p>
