<a href="https://github.com/mesquini/library-db-java-aps" class="title" rel="tooltip" title="Acessar repositorio" target="_blank">
  <h3 class="title">
    Gerenciador de biblioteca
  </h3>
</a>

<hr>

<p>
  Um simples programa gerenciador de livros.
  Contendo as seguintes ações de cadastrar, editar, ver e deletar os livros, autores e editoras,
  fazendo o relacionamento aonde livro tem uma editora e um ou mais autores.
</p>

<h2 id="tecnologias" class="title">🚀 Tecnologias</h2>
<ul>
  <li>Java - Linguage used</li>
  <li>Postgre - SQL</li>
  <li>Windonws Builder</li>
</ul>
<h2 id="pr-requisitos" class="title">✋🏻 Pré-requisitos</h2>
<ul>
  <li><a href="https://www.eclipse.org/" target="_blank">Eclipse</a></li>
  <li><a href="https://www.postgresql.org/" target="_blank">Postgre</a></li>
</ul>
<h2 id="instalacao">🔥 Instalação e execução</h2>
<ul style="text-align: justify;">
  <li>Você precisa ter um banco, local ou online, que seja o <strong>Postgre</strong>;</li>
  <li>Depois que tiver o banco, popular a tabela com os dados que está na pasta <strong>livraria</strong>;</li>
  <li>Ao abrir o projeto, adicionar a lib <strong>postgresql-42.2.8.jar</strong> do Postgre;</li>
  <li>Executar o projeto, o arquivo Main é o arquivo
    <strong>TelaInicial</strong>,
    que fica em <strong>src/View/TelaInicial</strong>;
  </li>
  <li>Divirta-se com o programinha 😉</li>
</ul>
<hr>
<p>Feito por Victor Mesquini
  <a href="https://www.linkedin.com/in/mesquini/" target="_blank">
    👋 Toque aqui!</a>
</p>
