<a class="title" href="https://github.com/mesquini/clone_instagram" rel="tooltip" title="Acessa o repositorio" target="_blank">
  <h1 class="title">Clone Instagram</h1>
</a>

<hr>

<p align="center">
  <a href="#rocket-technologies">Tecnologias</a> |
  <a href="#pr-requisitos">Pré-requisitos</a> |
  <a href="#information">Como Usar</a>
</p>

<p>
  Projeto com a funcionalidade de criar posts, identido do Instagram,
  mostrar no feed e curtir uma foto ilimitadamente.
</p>

<img src="https://res.cloudinary.com/mesquini/image/upload/v1579703044/Instagram/Screenshot_57_exp5rj.png" class="center" style="border: 1px solid black;" alt="App Screenshot">
<img src="https://res.cloudinary.com/mesquini/image/upload/v1579703028/Instagram/Screenshot_56_vzbbm6.png" class="center" style="border: 1px solid black;" alt="App Screenshot">

<h2 class="title" id="rocket-technologies">🚀 Tecnologias:</h2>
<p>Esse projeto foi desenvolvido na Semana Omnistack 7, com as seguintes tecnlogias:</p>
<ul>
  <li><a href="https://reactjs.org/" target="_blank">ReactJS</a></li>
  <li><a href="https://github.com/axios/axios" target="_blank">Axios</a></li>
  <li><a href="https://github.com/expressjs/cors" target="_blank">Cors</a></li>
  <li><a href="https://github.com/socketio/socket.io" target="_blank">Socket.io</a></li>
  <li><a href="https://github.com/Automattic/mongoose" target="_blank">Mongoose</a></li>
  <li><a href="https://github.com/expressjs/express" target="_blank">Express</a></li>
  <li><a href="https://code.visualstudio.com/" target="_blank">VS Code</a></li>
</ul>
<h2 id="pr-requisitos" class="title">✋🏻 Pré-requisitos</h2>
<ul>
  <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
  <li><a href="https://yarnpkg.com/pt-BR/docs/install" target="_blank">Yarn</a></li>
  <li><a href="https://code.visualstudio.com/" target="_blank">VS Code</a></li>
</ul>
<h2 id="information" class="title">
  <img src="https://github.githubassets.com/images/icons/emoji/unicode/2139.png" style="width: 5%;" /> Como usar:
</h2>
<pre>
  <code class="lang-bash"> <span class="hljs-comment"># Clone esse repositorio</span>
    &gt; git clone https://github.com/mesquini/clone_instagram
    &gt; cd backend
    &gt; yarn
    &gt; yarn <span class="hljs-literal">dev</span> 

    <span class="hljs-comment">## Antes abre outro terminal:</span>

    &gt; cd frontend
    &gt; yarn
    &gt; yarn <span class="hljs-literal">start</span>
</code>
</pre>
<hr>
<p>Feito por Victor Mesquini
  <a href="https://www.linkedin.com/in/mesquini/" target="_blank">
    👋 Toque aqui!</a>
</p>
