<img src="https://pokedex-mesquini.netlify.com/static/media/logo.5ccc7f1b.png" alt="App Screenshot" class="center">

<a href="https://github.com/mesquini/pokedex" rel="tooltip" title="Acessa repositorio" target="_blank">
  <h2 class="title">Pokedex</h2>
</a>
<hr>
<p align="center">
  <a href="#rocket-technologies">Tecnologias</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <a href="#information_source-how-to-use">Como usar</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
</p>

<p align="center">
  <a href="https://pokedex-mesquini.netlify.com/" target="_blank" rel="tooltip" title="Acessar o site">
    <img alt="Demo on Netlify" src="https://res.cloudinary.com/mesquini/image/upload/v1580130380/demo_on_netlify_bbuvjz_gfadtn.png">
  </a>
</p>

<h2 id="rocket-technologies" class="title">🚀 Tecnologias:</h2>
<p>Esse projeto foi desenvolvido para estudo de JSON e ReactJS com as seguintes tecnologias:</p>
<ul>
  <li><a href="https://reactjs.org/" target="_blank">ReactJS</a></li>
  <li><a href="https://netlify.com/" target="_blank">Netlify</a></li>
  <li><a href="https://github.com/axios/axios" target="_blank">Axios</a></li>
  <li>
    <p><a href="https://code.visualstudio.com/" target="_blank">VS Code</a></p>
  </li>
</ul>
<h2 id="information_source-how-to-use" class="title">
  <img src="https://github.githubassets.com/images/icons/emoji/unicode/2139.png" style="width: 5%;" /> Como usar:
</h2>
<pre>
  <code class="lang-bash"> <span class="hljs-comment"># Clone esse repositorio</span>
&gt; git clone https://github.com/mesquini/pokedex
&gt; cd pokedex
&gt; yarn
&gt; yarn <span class="hljs-literal">start</span> 
  </code>
</pre>
<hr>
<p>Feito por Victor Mesquini
  <a href="https://www.linkedin.com/in/mesquini/" target="_blank">
    👋 Toque aqui!</a>
</p>
