<img class="center" src="https://raw.githubusercontent.com/mesquini/rocketshoes/master/src/assets/rocketshoes.png" alt="logo">

<a href="https://github.com/mesquini/rocketshoes" class="title" rel="tooltip" title="Acessar o repositorio" target="_blank">
  <h2 class="title"> Rocketshoes</h2>
  <br />
</a>

<hr>

<p align="center">
  <a href="#rocket-tecnologias">Tecnologias</a> |
  <a href="#pr-requisitos">Pré-requisitos</a> |
  <a href="#information">Instalação e execução</a>
</p>

<p>
  Projeto desenvolvido no
  <a href="https://rocketseat.com.br/" target="_blank">GoStack 10</a>,
  com o proposito de aprender sobre Redux e ReactJS. Basicamente é um E-commerce de tenis, aonde você tem duas telas,
  o de produtos e do carrinho.
</p>

<img class="center" src="https://raw.githubusercontent.com/mesquini/rocketshoes/master/src/assets/rocketshoes_page.png" alt="App Screenshot">

<p align="center">
  <a href="https://rocketshoes-mesquini.netlify.com/" target="_blank" rel="tooltip" title="Acessar o site">
    <img alt="Demo on Netlify" src="https://res.cloudinary.com/mesquini/image/upload/v1580130380/demo_on_netlify_bbuvjz_gfadtn.png">
  </a>
</p>

<h2 id="rocket-tecnologias" class="title">🚀 Tecnologias</h2>
<ul style="list-style: none;">
  <li><a href="https://reactjs.org/" target="_blank">ReactJS</a></li>
  <li><a href="https://redux.js.org/" target="_blank">Redux</a></li>
  <li><a href="https://redux-saga.js.org/" target="_blank">Redux-Saga</a></li>
  <li><a href="https://github.com/ReactTraining/react-router" target="_blank">React Router v4</a></li>
  <li><a href="https://github.com/axios/axios" target="_blank">Axios</a></li>
  <li><a href="https://www.npmjs.com/package/history" target="_blank">History</a></li>
  <li><a href="https://github.com/immerjs/immer" target="_blank">Immer</a></li>
  <li><a href="https://polished.js.org/" target="_blank">Polished</a></li>
  <li><a href="https://fkhadra.github.io/react-toastify/" target="_blank">React-Toastify</a></li>
  <li><a href="https://www.styled-components.com/" target="_blank">styled-components</a></li>
  <li><a href="https://react-icons.netlify.com/" target="_blank">React-Icons</a></li>
  <li><a href="https://github.com/dvtng/react-loading-skeleton" target="_blank">react-loading-skeleton</a></li>
  <li><a href="https://github.com/mhnpd/react-loader-spinner" target="_blank">react-loader-spinner</a></li>
  <li><a href="https://github.com/typicode/json-server" target="_blank">json-server</a></li>
  <li><a href="https://infinite.red/reactotron" target="_blank">Reactotron</a></li>
</ul>
<h2 id="pr-requisitos" class="title">✋🏻 Pré-requisitos</h2>
<ul>
  <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
  <li><a href="https://yarnpkg.com/pt-BR/docs/install" target="_blank">Yarn</a></li>
  <li><a href="https://code.visualstudio.com/" target="_blank">VS Code</a></li>
</ul>
<h2 id="information" class="title">
  <img src="https://github.githubassets.com/images/icons/emoji/unicode/2139.png" style="width: 5%;" /> Instalação e execução
</h2>
<p>
  Para clonar o repositorio, você precisará do
  <a href="https://git-scm.com" target="_blank">Git</a>,
  <a href="https://nodejs.org/" target="_blank">Node.js v10.16</a> +
  <a href="https://yarnpkg.com/" target="_blank">Yarn v1.13</a>
</p>
<pre>
  <code class="lang-bash"> <span class="hljs-comment"># Clone esse repositorio</span>
    &gt; git clone https://github.com/mesquini/rocketshoes
    &gt; cd rocketshoes
    &gt; yarn
    <span class="hljs-comment">## Run API fake:</span>
    &gt; json-server db.json -p 3333 -w
    <span class="hljs-comment">## Abra outro terminal:</span>
    &gt; yarn <span class="hljs-literal">start</span>
</code>
</pre>
<hr>
<p>Feito por Victor Mesquini
  <a href="https://www.linkedin.com/in/mesquini/" target="_blank">
    👋 Toque aqui!</a>
</p>
