<a class="title" href="https://github.com/mesquini/tindev" rel="tooltip" title="Clique para acessar o repositorio" target="_blank">
  <h3 class="title" align="center">
    TinDev
  </h3>
</a>

<hr>
<p align="center">
  <a href="#pr-requisitos">Pre requirements</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <a href="#rocket-technologies">Technologies</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
  <a href="#information_source-how-to-use">How To Use</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
</p>
<p class="description">
  Um tinder de desenvolvedores para caso ocorra um <strong>match</strong> será adiconado na sua lista de matchs, exibindo as informações do programador. Com o intuito de realizar par programming.
</p>

<p>
  <img src="https://res.cloudinary.com/mesquini/image/upload/v1579704194/TinDev/Screenshot_58_sxkoim.png" alt="App Screenshot">
  <img src="https://res.cloudinary.com/mesquini/image/upload/v1579704193/TinDev/Screenshot_59_nbokir.png" alt="App Screenshot">
  <img src="https://res.cloudinary.com/mesquini/image/upload/v1579704194/TinDev/Screenshot_60_orvzkn.png" alt="App Screenshot">
</p>
<h2 id="pr-requisitos" class="title">Pre requirements</h2>
<ul>
  <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
  <li><a href="https://yarnpkg.com/pt-BR/docs/install" target="_blank">Yarn</a></li>
</ul>
<h2 id="information_source-how-to-use" class="title">How To Use</h2>
<p class="description">
  To clone and run this application, you&#39;ll need
  <a href="https://git-scm.com" target="_blank">Git</a>,
  <a href="https://nodejs.org/" target="_blank">Node.js v10.16</a> or higher +
  <a href="https://yarnpkg.com/" target="_blank">Yarn v1.13</a>
  or higher installed on your computer. From your command line:
</p>
<pre>
  <code class="lang-bash"> <span class="hljs-comment"># Clone this repository</span>
$ git <span class="hljs-keyword">clone</span> 
<span class="hljs-title">https</span>://github.com/mesquini/tindev
&gt; cd backend
&gt; npm i
&gt; yarn dev 

 <span class="hljs-comment">## after open other terminal:</span>

&gt; cd frontend
&gt; npm i
&gt; yarn <span class="hljs-literal">start</span>
</code>
</pre>
<h2 id="rocket-technologies" class="title">Technologies</h2>
<p class="description">
  This project was developed at the Semana Omnistack 8 with the following technologies:
</p>
<ul>
  <li><a href="https://reactjs.org/" target="_blank">ReactJS</a></li>
  <li><a href="https://github.com/axios/axios" target="_blank">Axios</a></li>
  <li><a href="https://github.com/expressjs/cors" target="_blank">Cors</a></li>
  <li><a href="https://github.com/socketio/socket.io" target="_blank">Socket.io</a></li>
  <li><a href="https://github.com/Automattic/mongoose" target="_blank">Mongoose</a></li>
  <li><a href="https://github.com/expressjs/express" target="_blank">Express</a></li>
  <li><a href="https://code.visualstudio.com/" target="_blank">VS Code</a></li>
</ul>
<hr>
<p>Made with ♥ by Victor Mesquini
  <a href="https://www.linkedin.com/in/mesquini/" target="_blank">
    Get in touch!</a>
</p>
