<a class="title" href="https://github.com/mesquini/tindev" rel="tooltip" title="Acessar o repositorio" target="_blank">
  <h3 class="title">
    TinDev
  </h3>
</a>

<hr>
<p align="center">
  <a href="#pr-requisitos">Pre requirements</a> |
  <a href="#information_source-how-to-use">Como rodar</a> |
  <a href="#rocket-technologies">Tecnologias</a>
</p>
<p class="description">
  Um tinder de desenvolvedores para caso ocorra um
  <strong>match</strong>
  será adiconado na sua lista de matchs, exibindo as informações do programador. Com o intuito de realizar par programming.
</p>

<p>
  <img src="https://res.cloudinary.com/mesquini/image/upload/v1579704194/TinDev/Screenshot_58_sxkoim.png" class="center" alt="App Screenshot" />
  <img src="https://res.cloudinary.com/mesquini/image/upload/v1579704194/TinDev/Screenshot_60_orvzkn.png" class="center" alt="App Screenshot">
  <img src="https://res.cloudinary.com/mesquini/image/upload/v1579704193/TinDev/Screenshot_59_nbokir.png" class="center" alt="App Screenshot">
</p>

<h2 id="rocket-technologies" class="title">🚀 Tecnologias</h2>
<p class="description">
  Esse projeto foi desenvolvido na Semana Omnistack 8 com as seguintes tecnologias:
</p>
<ul>
  <li><a href="https://reactjs.org/" target="_blank">ReactJS</a></li>
  <li><a href="https://github.com/axios/axios" target="_blank">Axios</a></li>
  <li><a href="https://github.com/expressjs/cors" target="_blank">Cors</a></li>
  <li><a href="https://github.com/socketio/socket.io" target="_blank">Socket.io</a></li>
  <li><a href="https://github.com/Automattic/mongoose" target="_blank">Mongoose</a></li>
  <li><a href="https://github.com/expressjs/express" target="_blank">Express</a></li>
</ul>

<h2 id="pr-requisitos" class="title">🔥 Pré-Requisitos</h2>
<ul>
  <li><a href="https://nodejs.org/en/" target="_blank">Node.js</a></li>
  <li><a href="https://yarnpkg.com/pt-BR/docs/install" target="_blank">Yarn</a></li>
  <li><a href="https://code.visualstudio.com/" target="_blank">VS Code</a></li>
</ul>
<h2 id="information_source-how-to-use" class="title">
  <img src="https://github.githubassets.com/images/icons/emoji/unicode/2139.png" style="width: 5%;" /> Como rodar
</h2>
<p class="description">
  Para clonar e rodar esse projeto, você precisará de
  <a href="https://git-scm.com" target="_blank">Git</a>,
  <a href="https://nodejs.org/" target="_blank">Node.js v10.16</a> ou superior +
  <a href="https://yarnpkg.com/" target="_blank">Yarn v1.13</a>
  ou superior instalar na sua maquina. Dentro do terminal rodar:
</p>
<pre>
  <code class="lang-bash"> <span class="hljs-comment"># Clone esse repositorio</span>
&gt; git clone https://github.com/mesquini/tindev
&gt; cd backend
&gt; yarn
&gt; yarn <span class="hljs-literal">dev</span> 

 <span class="hljs-comment">## Antes abre outro terminal:</span>

&gt; cd frontend
&gt; yarn
&gt; yarn <span class="hljs-literal">start</span>
</code>
</pre>
<hr>
<p>Feito por Victor Mesquini
  <a href="https://www.linkedin.com/in/mesquini/" target="_blank">
    👋 Toque aqui!</a>
</p>
