<footer class="footer" data-background-color="black">
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a target="_blank" href="https://github.com/mesquini"><i class='fa fa-github'></i> </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/mesquini/"><i class='fa fa-linkedin'></i> </a>
                </li>
                <li>
                    <a target="_blank" href="https://spdx.org/licenses/MIT"><i class='fa fa-balance-scale'></i> MIT</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>