<div class="page-header" filter-color="black">
  <div class="page-header-image" data-parallax="true" style="background-image: url('/img/header.jpg');">
  </div>


  <div class="container">
    <div class="content-center">
      <h1 class="title"></h1>
      <div class="text-center">
        <div class="container">
          <div class="content-center">
            <div class="photo-container">
              <img src="../img/bbb.jpg" alt="image">
            </div>
            <h3 class="title">Victor Marques Mesquini</h3>
            <p class="category">Estudando de Sistema da informação</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-left">
        <div class="button-container">
          <a href="https://github.com/mesquini" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on GitHub" target="_blank">
            <i class="fa fa-github" style="font-size: 180%;"></i>
          </a>
          <a href="https://www.linkedin.com/in/mesquini/" class="btn btn-default btn-round btn-lg btn-icon" rel="tooltip" title="Follow me on Linkedin" target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </div>
        <h3 class="title">Sobre mim</h3>
        <h5 class="description">
          Sou uma pessoa que sempre está em busca de aprender coisas novas.
          Sempre me atualizando sobre as tecnologias. Atualmente estudando a stack que vem crescendo
          muito, NodeJS, ReactJS e React Native.
        </h5>
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <h4 class="title text-center">CV</h4>
            <div class="nav-align-center">
              <ul class="nav nav-pills nav-pills-primary" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#profile" role="tablist" rel="tooltip" title="Perfil">
                    <i class="now-ui-icons education_hat"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#home" role="tablist" rel="tooltip" title="Experiências">
                    <i class="now-ui-icons business_briefcase-24"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#language" role="tablist" rel="tooltip" title="Linguagens">
                    <i class="now-ui-icons tech_laptop"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Tab panes -->
          <div class="tab-content gallery">
            <div class="tab-pane" id="home" role="tabpanel">
              <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                  <div class="col-md-6">
                    <p class="description">Desenvolvedor BackEnd Jr na <a href="https://www.ingaia.com.br/" target="_blank">inGaia</a>
                      <p class="description" style="margin-top: -6%;">[Outubro 2019 — Atualmente]</p>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="description" href=''>Estagiário em Desenvolvimento de Software na <a href="https://www.ingaia.com.br/" target="_blank">inGaia</a>
                      <p class="description" style="margin-top: -6%;">[Janeiro 2019 - Outubro 2019]</p>
                      <p class="description" href=''> Analista de diagnóstico e reparo na <a href="http://tavile.com.br/" target="_blank">Tavile</a>, terceirizada da IBM
                        <p class="description" style="margin-top: -6%;">[Julho 2018 - Janeiro 2019]</p>
                      </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane" id="language" role="tabpanel">
              <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                  <div class="col-md-6">
                    <p class="description" href=''>BackEnd (Javascript, C#, NodeJS, Java)</p>
                    <p class="description" href=''>FrontEnd (ReactJS, HTML, CSS, JS)</p>
                    <p class="description" href=''>Mobile (React Native)</p>
                  </div>
                  <div class="col-md-6">
                    <p class="description" href=''>Banco de dados (SQLserver, MySQL, MongoDB, PostgreSQL)</p>
                    <p class="description" href=''>Outras linguagens como C++, C, Ruby, Python</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane active" id="profile" role="tabpanel">
              <div class="col-md-10 ml-auto mr-auto">
                <div class="row collections">
                  <div class="col-md-6">
                    <p class="description">Estudante Sistema da informação na UNIP Swift Campinas <p class="description" style="margin-top: -6%;">[Fevereiro 2018 — Atualmente]</p>
                    </p>
                    <p class="description">Desenvolvedor BackEnd Jr na inGaia <p class="description" style="margin-top: -6%;">[Outubro 2019 — Atualmente]</p>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <p class="description">Técnico em Informatica no SENAI - Campinas <p class="description" style="margin-top: -6%;">[Fevereiro 2016 — Novembro 2017]</p>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
