<style>
  .profile-page h5.description {
    color: rgba(0, 0, 0, 0.835);
    font-weight: inherit;
    font-family: Arial, Helvetica, sans-serif;
  }

</style>

<div class="row">
  <div class="col-md-8 ml-auto mr-auto text-left">
    <h1 class="title" id="count"></h1>
    <div id="projectsJson"></div>
  </div>
</div>

<div id="modalReadme"></div>

<script src="/js/loadJson.js" type="text/javascript"></script>

<script type="text/javascript">
  loadJSON(async function (response) {
    // Parse JSON string into object
    var { projects } = JSON.parse(response);
    await loadInfos(projects);
  });

  $(function () {
    $("#modalReadme").load("../components/modal.html");
  });

  function loadReadme(name) {
    $("#readme").load(`../components/readme/${name}.html`);
  };
</script>
